* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
}
img{
    height: 110px;
    margin-top: 180px;
    margin-left: 160px;
}
h2{
    margin-left: 190px;
}
.facebook-login {
    height: 400px;
    width: 30%;
    float: right;
    margin-top: -220px;
    margin-right: 230px;
    padding: 10px;
    box-shadow: 2px 2px 3px black;
}
input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.log{
    height: 50px;
    width: 100%;
    background-color: dodgerblue;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
a{
    text-decoration: none;
    margin-left: 30%;
}
hr{
    opacity: 40%;
}
.new{
    height: 50px;
    width: 50%;
    font-size: 20px;
    background-color: rgb(99, 209, 35);
    border-radius: 5px;
    margin-left: 25%;
    color: white;
}
